body {
  background-color: #FFF5FD;
}

h1 {
  color: #FF96AD;
  text-align: center;
}

h3 {
  color: #FF96AD;
  text-align: center;
}

p {
  color: #005A8D;
  text-align: center;
}

table {
  color: #005A8D;
  margin-left: 40%;
}

ul {
  margin-left: 40%;
}

img {
  margin-left: 45%;
  width: 100px;
  height: 150px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
